@{
    ViewData["Title"] = "New book";
}

<div class="container">
    <div class="row">
        @{
            Microsoft.Extensions.Primitives.StringValues queryVal;

            if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "wrongName")
            {
                <p class="text-danger">The book already exist.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "error")
            {
                <p class="text-danger">Try again later.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "added")
            {
                <p class="text-success">The book was added.</p>
            }
        }
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("Back", "Index", "Library")
        </p>
    </div>
    <div class="row">
        <form method="POST">
            <div class="form-group">
                <label for="book">Book</label>
                <input type="text" class="form-control" name="book" id="book" maxlength="50" aria-describedby="bookName" placeholder="Book title" required>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" id="author" aria-describedby="author" placeholder="author" required>
            </div>
            <div class="form-group">
                <label for="year">Publication year</label>
                <input type="number" class="form-control" id="year" name="year" placeholder="Year">
            </div>
            <div class="form-group">
                <label for="copies">Copies</label>
                <input type="number" class="form-control" id="copies" name="copies" min="1" placeholder="Copies" required>
            </div>
            <div id="barcodes">

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script>
        $(function () {
            //setup before functions
            let $input = $('#copies');

            $input.on('change keyup paste', function () {
                $("#barcodes").empty();

                if ($input.val() >= 1) {
                    $("#barcodes").append(`<label for="copies"><b>Books barcodes</b></label>`);
                }

                for (let i = 0; i < $input.val(); i++) {
                    $("#barcodes").append(`<div class="form-group">
                <label for="[${i}]">Barcode #${i+1}</label><input type="text" class="form-control" minlength="8" name="[${i}]" id="[${i}]" aria-describedby="barcode" placeholder="Barcode" required></div>`);
                }
            });

        });
    </script>
</div>