@{
    ViewData["Title"] = "Update user";
}

@model BookingApp.Models.UserUpdateModel

<div class="container">
    <div class="row">
        @Html.ActionLink("Back", "Index", "Library")
    </div>
    <div class="row">
        @{
            Microsoft.Extensions.Primitives.StringValues queryVal;

            if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "error")
            {
                <p class="text-danger">Try again later.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "updated")
            {
                <p class="text-success">The user was updated.</p>
            }
        }
    </div>
    <div class="row">
        <form method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" readonly id="username" aria-describedby="username" placeholder="Book title" value="@Model.Username" required />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="@Model.Email" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" maxlength="16" name="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <select asp-for="SelectedRole" asp-items="Model.RolesModel" class="form-control"></select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>